.parent {
    background-color: red;
    padding: 30px;
    width: 300px;
}

.child {
    background-color: purple;
    padding: 30px;
}

.box {
    background-color: yellow;
    padding: 30px;
    border: 2px solid green;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 290px;
}